fastapi
uvicorn
celery
redis
opencv-python
pillow
requests
rdflib==6.0.0
fitz
lxml
bs4
numpy
scipy
shapely
ezdxf
rtree
setuptools
PyMuPDF
func_timeout
pytesseract
matplotlib
tqdm
cryptography
psutil
paddlepaddle==3.0.0rc1 --index-url https://www.paddlepaddle.org.cn/packages/stable/cpu/
rapidocr